{# src/Mick/WebsiteBundle/Resources/views/Default/fiche_produit.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Fiche produit</title>
  </head>
  <body>
    <h1>Page de fiche produit</h1>
    <p>
      Vous sur une page produit
    </p>
  </body>
</html>



