{# src/Mick/WebsiteBundle/Resources/views/Default/index.html.twig #}

<!DOCTYPE html>
<html>
  <head>
    <title>Mon site web</title>
  </head>
  <body>
    <h1>Site de E-commerce</h1>
    <p>
      Bienvenue {{ nom }} sur la page d'accueil de mon site de E-commerce
    </p>

  </body>
</html>



