/*******************************/
/********** MENU Gauche ********/

.menu{
    background-color: coral;
    color: midnightblue;
}

.container{
    background-color: darkkhaki;
}


/*******************************/
/********** MENU haut ********/
#menu_haut
{
    border-bottom : 1px solid #9EA0A1;
    padding-bottom : 25px;
}

#onglets
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position : absolute;
    border : 1px solid transparent;
    padding : 0;
    font : bold 11px Batang, arial, serif;
    list-style-type : none;
    left : 50%;
    margin-top : 0;
    width : 430px;
    margin-left : -215px; /* la moitié de width */
}


/*******************************/
/********** bouton des fiches produits - INDEX ********/

.button {
    background-color: rgb(11, 12, 11); /* Green */
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button5 {
    background-color: rgb(14, 13, 13);
    color: rgb(245, 240, 240);
    border: 2px solid #555555;
    border-radius: 4px;
    text-decoration: none;
  }
  
  .button5:hover {
    background-color: #555555;
    color: white;
  }

body {
    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Special Elite', cursive;
}