/*******************************/
/********** MENU Gauche ********/

.menu{
    background-color: rgb(153, 189, 129);
    color: rgb(156, 101, 38);
}

.container{
    background-color:white;
}


/*******************************/
/********** MENU haut ********/
#menu_haut
{
    border-bottom : 1px solid #9EA0A1;
    padding-bottom : 40px;
    background-color: rgb(203, 163, 32);
}

#onglets
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position : absolute;
    border : 1px solid transparent;
    padding : 0;
    font : bold 11px, arial, serif;
    list-style-type : none;
    left : 40%;
    width : 50%;
    margin-left : -215px; /* la moitié de width */
}

#onglets a
{
    color:black;
}

/*******************************/
/********** bouton des fiches produits - INDEX ********/

.button {
    background-color: rgb(11, 12, 11); /* Green */
    border: none;
    color: white;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button {
background-color:rgb(11, 12, 11);
color: rgb(245, 240, 240);
border-radius: 4px;
text-decoration: none;
}

.button5:hover {
background-color: blueviolet;
color: white;
text-decoration: none;
}

/********** bouton ajout panier - INDEX ********/
  .buttonBasket {
    background-color: rgb(24, 185, 172);
    border: none;
    color: white;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button6 {
    background-color: rgb(203, 163, 32);
    color: rgb(245, 245, 245);
    border-radius: 4px;
    text-decoration: none;
  }

  .button6:hover {
    background-color: rgb(38, 182, 33);
    color: white;
    text-decoration: none;
  }

body {
    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Dosis', cursive;
}

/**************************************************************************
/*-----Pictos réassurance-----*/
.reassurance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;

}

.picto_appel, .picto_satisfaction, .picto_paiement, .picto_livr{
    text-align: center;
    width: 300px;
    color:  rgb(203, 163, 32);
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.picto_appel i, .picto_satisfaction i, .picto_paiement i, .picto_livr i{
    font-size:40px;
    color:black;
    padding-bottom: 6px;
}


.reassurance p{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/*-----fin Pictos réassurance-----*/

/* Images bloc Nos Produits */
.bloc_pdt_home img{
    width: 300px;
    height: 250px;
}

.bloc_produits{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
    margin-bottom:30px;
    position: relative;
    text-align: center;
    color:white;
}

h2{
    color: grey;
    text-align: center;
}

.img_accessoires, .img_pantalons, .img_tshirt, .img_chaussures, .img_vestes, .img_lunettes {
    position: relative;
    text-align: center;
    color: white;
}
.bloc_produits span{
    font-size: 0.6em;
    font-weight: bold;
    color: snow;
}

.texte_img_accessoires, .texte_img_pantalons, .texte_img_tshirt, .texte_img_chaussures, .texte_img_vestes, .texte_img_lunettes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    text-shadow: 1px 2px 3px rgba(0,0,0, 0.5); 
}
/*-----fin nos produits-----*/