/*******************************/
/********** MENU Gauche ********/

.menu{
    background-color: rgb(153, 189, 129);
    color: rgb(156, 101, 38);
}

.container{
    background-color:white;
}

/* bouton recherche */
.btn-recherche
{
    background-color: black;
    color: #CBA320;
    border: 1px solid #CBA320;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-radius: 4px;
}

.btn-recherche:hover {
    background-color: #CBA320;
    color: black;
    text-decoration: none;
    }

.tr-hover:hover
{
    color: black;
    background-color: #CBA320;
}
/* Bandeau Raaaaats */
#header
{
    background-color: black;
    color: #CBA320;
    margin-bottom: 0;
}

/* Logos Ratioactive */
.logoratio
{
    margin-top: 12px;
}


/*******************************/
/********** MENU haut ********/
#menu_haut
{
    border-bottom : 1px solid #9EA0A1;
    padding-bottom : 40px;
    background-color: rgb(203, 163, 32);
}

#onglets
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position : absolute;
    border : 1px solid transparent;
    padding : 0;
    font : bold 11px, arial, serif;
    list-style-type : none;
    left : 40%;
    width : 50%;
    margin-left : -215px; /* la moitié de width */
}

#onglets a
{
    color:black;
}

/*******************************/
/********** bouton des fiches produits - INDEX ********/

.button {
    background-color: rgb(11, 12, 11); /* Green */
    border: none;
    color: white;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

.button {
background-color:rgb(11, 12, 11);
color: rgb(245, 240, 240);
border-radius: 4px;
text-decoration: none;
}

.button5:hover {
background-color: blueviolet;
color: white;
text-decoration: none;
}

/********** bouton ajout panier - INDEX ********/
  .buttonBasket {
    background-color: rgb(24, 185, 172);
    border: none;
    color: white;
    padding: 5px 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .button6 {
    background-color: rgb(203, 163, 32);
    color: rgb(245, 245, 245);
    border-radius: 4px;
    text-decoration: none;
  }

  .buttondeja {
    background-color: white;
    color: red;
    border-radius: 4px;
    text-decoration: none;
  }

  .button6:hover {
    background-color: rgb(38, 182, 33);
    color: white;
    text-decoration: none;
  }

body {
    /*font-family: 'Amatic SC', cursive;*/
    font-family: 'Dosis', cursive;
}

/**************************************************************************
/*-----Pictos réassurance-----*/
.reassurance{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;

}

.picto_appel, .picto_satisfaction, .picto_paiement, .picto_livr{
    text-align: center;
    width: 300px;
    color:  rgb(203, 163, 32);
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;
}
.picto_appel i, .picto_satisfaction i, .picto_paiement i, .picto_livr i{
    font-size:40px;
    color:black;
    padding-bottom: 6px;
}


.reassurance p{
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}

/*-----fin Pictos réassurance-----*/

/* Images bloc Nos Produits */
.bloc_pdt_home img{
    width: 300px;
    height: 250px;
}

.bloc_produits{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    margin-top: 10px;
    margin-bottom:30px;
    position: relative;
    text-align: center;
    color:white;
}

h2{
    color: grey;
    text-align: center;
}

.img_accessoires, .img_pantalons, .img_tshirt, .img_chaussures, .img_vestes, .img_lunettes {
    position: relative;
    text-align: center;
    color: white;
}
.bloc_produits span{
    font-size: 0.6em;
    font-weight: bold;
    color: snow;
}

.texte_img_accessoires, .texte_img_pantalons, .texte_img_tshirt, .texte_img_chaussures, .texte_img_vestes, .texte_img_lunettes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    text-shadow: 1px 2px 3px rgba(0,0,0, 0.5); 
}
/*-----fin nos produits-----*/

/******Picto poubelle ******/
.fa-trash-alt{
 color:  rgb(203, 163, 32);
 margin-left: 1em;
}

/*slider dans la partie tendances*/
*{
    box-sizing: border-box;
  }

  .slider {
      width: 80%;
      margin: 100px auto;
      margin-top: 20px;
  }

  .slider a{
      text-decoration: none;
      border: none;
  }
  a:link 
  { 
      text-decoration:none; 
  } 

  .slick-slide {
    margin: 0px 20px;
  }

  .slick-slide img {
    width: 100%;
    height: auto;
  }

  .slick-prev:before,
  .slick-next:before {
    color: black;
  }


  .slick-slide {
    transition: all ease-in-out .3s;
    opacity: .2;
  }

  .slick-active {
    opacity: 1;
  }

  .slick-current {
    opacity: 1;
  }


/*-----fin Tendances-----*/

/*Options du menu*/
/* ------Fin menu --------*/
/* body {
  font-family: "Lato", sans-serif;
} */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ---- button ---- */
