<form action="{{ path('rechercheProduits') }}" method="POST" class="navbar-form form-search pull-right">
    {{ form_widget(form.recherche) }}
    {# <input id="Search" name="Search" type="text" class="form-control search-query" placeholder="que recherchez-vous ?"> #}
    <button type="submit" class="btn-recherche">Rechercher</button>
    {{ form_widget(form) }}
</form>